/*
** Bootstrap variables override and import
*/

/* stylelint-disable color-no-hex */
$white:    #fff;
$gray-100: #f6f6f6;
$gray-200: #eaeaea;
$gray-300: #e6e6e6;
$gray-400: #dfdfdf;
$gray-500: #d6d6d6;
$gray-600: #9d9d9d;
$gray-700: #858585;
$gray-800: #525252;
$gray-900: #333333;
$black:    #000;

$grays: ();
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

// Set default colors
$white:                             #ffffff;
$black:                             #333333;
$pink:                              #ee0043;
$pink-light:                        #fab2c6;
$purple:                            #673ab7;
$purple-light:                      #d1c4e9;
$blue:                              #3661d8;
$blue-light:                        #c2cff3;
$navy:                              #2b3ba2;
$navy-light:                        #bfc4e3;
$petroleum:                         #008486;
$petroleum-light:                   #b2dada;
$green:                             #008850;
$green-light:                       #b2dbca;
$yellow:                            #ffe13d;
$yellow-light:                      #fff6c4;
$orange:                            #ff5f31;
$orange-light:                      #ffcfc1;
$red:                               #d32f2f;
$red-light:                         #f2c0c0;

// Set primary color
$primary: $petroleum;

// Set primary color
$secondary: $black;
/* stylelint-enable */

// Set default font
$font-family-sans-serif:      Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" ;
$headings-font-family:        "Arial Black", Arial, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" ;

$spacer: 1rem;

$headings-margin-bottom:      $spacer;
$headings-margin-top:         $spacer;

$font-size-base: 1rem;
$lead-font-size: 1.3rem;
$lead-font-weight: 400;

$h1-font-size:                $font-size-base * 2.2;
$h2-font-size:                $font-size-base * 1.4;
$h3-font-size:                $font-size-base * 1.2;
$h4-font-size:                $font-size-base * 1.1;
$h5-font-size:                $font-size-base * 1.0;
$h6-font-size:                $font-size-base;

// Disable rounded corners
$enable-rounded: false;

// Set card defaults
$card-border-radius: 0;
$card-border-color: none;
$card-inner-border-radius: 0;
@import "~bootstrap/scss/bootstrap";

/*
** Set html, body height 100%;
*/
html, body {
    height: 100%;
    background-color: $gray-100;
}

/*
** Iframe styling
*/
iframe#sorteringsabciframe {
    width: 1px;
    min-width: 100%;
    height: 100%;
    min-height: 1px;
    border: 0;
}


/*
** Styling modifications to bootstrap default
*/
$prefix: 'sorteringsabc';

.#{$prefix}-items {
    .alert-heading {
        font-weight: 900;
    }
    .bg-petroleum-light {
        background-color: $petroleum-light;
    }
    .bg-gray-light {
        background-color: $gray-100;
    }
    &-search {
        input[type="text"],
        select.form-control {
            background: $white;
            border: none;
            border-bottom: 1px solid $primary;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-radius: 0;
        }
        
        input[type="text"]:focus,
        select.form-control:focus {
            -webkit-box-shadow: none;
            box-shadow: none;
            color: $dark;
        }
        .input-group-text {
            background-color: darken($petroleum-light, 10%);
            border-width: 0;
            padding: 0 $spacer/2;
            color: $gray-900;
            img {
                width: 1.5rem;
            }
        }
    }
    .card {
        background: $white;
        border-bottom: 2px solid $gray-200;
        height: 100%;
        display: block;
        .card-body {
            height: 100%;
            display: block;
        }
        .card-title {
            font-weight: 900;
        }
    }
    .categories {
        span {
            display: inline-block;
            border-radius: .4rem;
            overflow: hidden;
            position: relative;
            img {
                opacity: .08;
                width: 100%;
            }
            &.active {
                img {
                    opacity: 1;
                }
            }
            &[aria-expanded="true"] {
                box-shadow: 0 0 .4rem rgba(0,0,0,.5);
                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0,0,0,.15);
                }
                &:after {
                    content: "x";
                    width: 1rem;
                    height: 1rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}
