{% set app_configuration = {
    data_urls: {
        items: absolute_url(path('api_items_get_collection')),
        item_categories: absolute_url(path('api_item_categories_get_collection')),
    },
    assets: assets
    } %}
<div id="sorteringsabc-app" data-configuration="{{ app_configuration|json_encode }}"></div>
<script src="{{ asset('build/app.js') }}"></script>
